arrow==1.3.0
attrs==23.2.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
ics==0.7.2
idna==3.6
python-dateutil==2.9.0.post0
requests==2.31.0
six==1.16.0
TatSu==5.8.3; python_version < '3.11'
TatSu>=5.9.2; python_version > '3.10'
urllib3==2.2.1
